# Configuración de Supabase
NEXT_PUBLIC_SUPABASE_URL=https://uxjfcdpsrmdvsebjaofp.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InV4amZjZHBzcm1kdnNlYmphb2ZwIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTYzOTk3NTQsImV4cCI6MjA3MTk3NTc1NH0.YourKeyHere

# Configuración de WhatsApp (opcional)
WHATSAPP_API_URL=
WHATSAPP_API_TOKEN=
WHATSAPP_PHONE_NUMBER_ID=

# Configuración de producción
NODE_ENV=production
